/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * itaren implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * itaren.css
 *
 * itaren stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (itaren_itaren.tpl), and to HTML elements you create dynamically
    (in itaren.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


.allSection {
    display: flex;
    align-items: start; 
    padding: 10px; 
}

.allPlanshet {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 60%;
    margin-left: 5%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    /* background-color: green; */
}

.cards-container {
    margin-left: 5%;
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
}

.card {
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/maya.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 90px;
    height: 200px;
    /* background-color: red; */
}

.menu {
    text-align: center;
    width: 30%;
    margin-left: 5%;
    /* background-color: blue; */
}

.paei {
    margin-top: 20px;
    width: 100px;
    /* background-color: green; */
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/dice.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-left: calc((100% - 100px) / 2);
    text-align: center;
    color: white;
}

.paei h2 {
    font-size: 20px;
    padding-top: calc((100% - 30px) / 2);
}

.menu img {
    width: 100px; 
    height: auto;
    object-fit: contain;
    margin-top: 20px;
}

.second-section {
    display: flex;
    align-items: start; 
    padding: 10px; 
}

.projectsIT {
    /* margin-left: 5%; */
    margin-left: 30%;
    width: 40%;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/projField.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: start;
    height: 400px;
    /* background-color: green; */
}

.pamyatka {
    width: 30%;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/pamyatka2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5%;
    height: 400px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.player-zone {
    display: flex;
    /* align-items: center; */
    padding: 1vh; /* вместо 10px, чтобы масштабировалось по высоте */
    margin-top: 2vh; /* вместо 20px */
    height: 80vh; /* добавил фиксированную высоту контейнера, чтобы элементы внутри масштабировались */
}

.player-field {
    margin-left: 5%;
    width: 40%;
    /* background-color: green; */
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/PT-G.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    min-height: 40vh;
}

/* .player-field {
    display: inline-block;
    background-color: transparent; 
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/PT-G.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%; 
} */

.player-cards {
    margin-left: 2%;
    width: 58%; /* чуть уменьшил, чтобы было чуть меньше 50%, оставляя место для margin */
    height: 90%; /* чтобы совпадало по высоте с .player-field */
    display: flex;
    flex-direction: column;
}

.cards-header {
    text-align: center;
    color: white;
    font-size: 2vh; /* масштабируем размер шрифта */
}

.cards-zone {
    display: flex;
    height: 33%; /* можно оставить как есть, или задать в vh для адаптивности */
    gap: 1vh; /* промежутки тоже в относительных единицах */
    flex-direction: row;
    align-items: stretch; /* чтобы карточки растягивались по высоте контейнера */
    padding: 1vh;
    /* max-height: 100px; */
}


.card2 {
    height: 100%;
    width: 15%;
    background-image: url('https://studio.boardgamearena.com:8084/data/themereleases/current/games/itaren/999999-9999/img/maya.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    /* max-height: 100px; */
}

@media (max-width: 480px) {

    .cards-zone {
        max-height: 100px;
    }

    .player-field {
        width: 50%;
        background-position: top;
    }

    .player-cards {
        width: 50%;
    }

    .projectsIT {
        width: 80%;
        margin-left: 10%;
        /* background-color: blue; */
        background-position: center;
        margin-bottom: 20px;
    }

}


/* .card2:hover {
    width: 20%;
    height: 180px;
    transition: width 0.8s ease, height 0.8s ease;
} */

.cards-header {
    text-align: center;
    color: white;
    font-size: 20px;
}

.shadow-blue {
    box-shadow: 0 8px 8px 0 rgb(54, 89, 246);
}

.shadow-red {
    box-shadow: 0 8px 8px 0 rgb(244, 30, 30)
}

.shadow-green {
    box-shadow: 0 8px 8px 0 rgb(23, 242, 41);
}

.bg-blue {
    background-color: rgb(19, 19, 64);
}

.bg-red {
    background-color: rgb(77, 16, 16);
}

.bg-green {
    background-color: rgb(17, 49, 23)
}

.allSection-header {
    padding: 10px;
    margin-left: 5%;
}

.roundPoint {
    background-color: red;
    width: 20px;
    height: 20px;
}